/*!
 *
 * Decom Gifts for WooCommerce Admin Styles
 *
 */
/*----------  Buttons  ----------*/
.button.dgfw-button {
  margin: 0.5em 1em;
  padding-left: 5px;
}

.button.dgfw-button.dashicons-after:after {
  display: inline-block;
  margin-left: 0.5em;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 1;
  font-family: dashicons;
  text-decoration: inherit;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: color .1s ease-in 0;
  transition: color .1s ease-in 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button.dgfw-button.dashicons-after:before {
  display: none;
}

.button.dgfw-button.dashicons-arrow-right-alt:after {
  content: "\f344";
}

.button.dgfw-button:before {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 0.5em;
}

.button.dgfw-button.dashicons-after {
  padding-right: 5px;
  padding-left: 10px;
}

.button.dgfw-button-secondary, .button.dgfw-button-secondary:before, .button.dgfw-button-secondary:after {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 32px;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 32px;
  width: auto;
  height: 32px;
}

.button.dgfw-button-secondary:before, .button.dgfw-button-secondary:after {
  width: 32px;
}

/*----------  Gifts allowed  ----------*/
.dgfw-gifts-allowed-section input.dgfw-category-gifts-allowed {
  width: 4em;
}

/*----------  Criteria  ----------*/
.dgfw-category-criteria {
  position: relative;
  padding: 2em;
  border: 1px solid #e8e8e8;
  background: #f8f8f8;
  text-align: center;
}

.dgfw-category-criteria .dgfw-category-description {
  margin-bottom: 2em;
}

.dgfw-criteria {
  position: relative;
  padding: 2em 2em 0;
  margin-top: -4px;
  border: 4px solid #e8e8e8;
  -webkit-transition: all 0.35s, opacity 0.5s;
  transition: all 0.35s, opacity 0.5s;
  height: auto;
  opacity: 1;
}

.dgfw-criteria.invisible {
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  border: none;
}

.dgfw-criteria.and {
  border-style: solid;
}

.dgfw-criteria.or {
  border-style: dashed;
}

.dgfw-criteria:last-child {
  border-bottom: none;
}

.dgfw-criteria.or > .dgfw-criteria.or,
.dgfw-criteria.and > .dgfw-criteria.and {
  margin: -4px -2em 0;
  border-right: none;
  border-left: none;
}

.dgfw-criteria.or > .dgfw-criteria.or .dgfw-subcriteria-add,
.dgfw-criteria.and > .dgfw-criteria.and .dgfw-subcriteria-add {
  bottom: 2em;
}

.dgfw-criteria.highlight,
.dgfw-criteria.highlight .dgfw-criteria-description,
.dgfw-criteria.highlight .dgfw-subcriteria-add {
  background: #ffe6e6;
}

.dgfw-criteria-description {
  position: relative;
  top: -3em;
  width: 7%;
  min-width: 4em;
  margin: 0 auto;
  background: #f8f8f8;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.dgfw-step-description.has-help {
  cursor: help;
}

.dgfw-step-description.has-help:after {
  display: inline-block;
  color: blue;
  font-size: 1.4em;
  font-family: dashicons;
  content: "\f223";
}

.dgfw-step-help,
.dgfw-step-note {
  display: none;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 2em auto;
  padding: 1em;
  line-height: 1.8;
  text-align: left;
}

.dgfw-step-note {
  display: block;
}

.dgfw-choose-type-container {
  text-align: center;
}

.dgfw-criteria-step-list-container {
  position: relative;
  height: 200px;
  overflow: hidden;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.dgfw-criteria-step-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s, opacity 0.15s;
  transition: all 0.35s, opacity 0.15s;
  opacity: 1;
  z-index: 1;
}

.dgfw-criteria-step-list:nth-child(2) {
  top: 100%;
  bottom: -100%;
  opacity: 0;
  z-index: 0;
}

.transition > .dgfw-criteria-step-list {
  top: -100%;
  bottom: 100%;
  opacity: 0;
  z-index: 0;
}

.transition > .dgfw-criteria-step-list:nth-child(2) {
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1;
}

.dgfw-criteria-step-list > .dgfw-criteria-step {
  position: absolute;
  left: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.25s, opacity 0.15s;
  transition: all 0.25s, opacity 0.15s;
  z-index: 0;
}

.dgfw-current-step, .dgfw-criteria-step-list > .dgfw-criteria-step.step-current, .dgfw-select-posts > .dgfw-select-posts-container-page.page-current,
.dgfw-select-posts > .dgfw-select-users-container-page.page-current,
.dgfw-select-users > .dgfw-select-posts-container-page.page-current,
.dgfw-select-users > .dgfw-select-users-container-page.page-current {
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 2;
}

.dgfw-prev-step, .dgfw-criteria-step-list > .dgfw-criteria-step.step-prev, .dgfw-select-posts > .dgfw-select-posts-container-page.page-prev,
.dgfw-select-posts > .dgfw-select-users-container-page.page-prev,
.dgfw-select-users > .dgfw-select-posts-container-page.page-prev,
.dgfw-select-users > .dgfw-select-users-container-page.page-prev {
  left: -100%;
  right: 100%;
  z-index: 1;
}

.dgfw-criteria-nav {
  padding-bottom: 2em;
  opacity: 1;
  height: 40px;
  -webkit-transition: all 0.35s, opacity 0.15s;
  transition: all 0.35s, opacity 0.15s;
}

.dgfw-criteria-nav.invisible {
  opacity: 0;
  height: 0;
}

@media screen and (max-width: 1023px) {
  .dgfw-criteria-nav {
    padding-bottom: 6em;
  }
}

.dgfw-subcriteria-add {
  position: relative;
  bottom: 1em;
  width: 30%;
  min-width: 5em;
  margin: 0 auto;
  background: #f8f8f8;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.and > .dgfw-subcriteria-add, .or > .dgfw-subcriteria-add {
  width: 10%;
  min-width: 8em;
}

.button.dgfw-button {
  min-width: 6em;
}

.button.dgfw-add-conditions:before {
  color: green;
}

.button.dgfw-add-and:before {
  color: orange;
}

.button.dgfw-add-or:before {
  color: blue;
}

.dgfw-criteria-input-container {
  text-align: left;
  margin-bottom: 0.5em;
}

.dgfw-criteria-input-container .dgfw-label {
  display: inline-block;
  float: left;
  clear: left;
  width: 50%;
  padding: 0.4em 1em 0.4em;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dgfw-criteria-input-container.dgfw-criteria-terms-currency-select-container {
  margin-bottom: 1em;
}

.dgfw-terms-advanced-options .dgfw-label {
  width: auto;
}

.dgfw-amount,
.dgfw-items {
  display: inline-block;
  max-width: 5em;
  margin-left: 0;
}

.dgfw-currency {
  display: inline-block;
  padding: 3px 5px 3px;
  background: #f8f8f8;
  border: 1px solid #e8e8e8;
}

.dgfw-currency.left {
  border-right: none;
}

.dgfw-currency.right {
  border-left: none;
}

.dgfw-select-posts,
.dgfw-select-users {
  position: relative;
  height: 180px;
  padding: 10px 5%;
}

.dgfw-select-posts-container-page,
.dgfw-select-users-container-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.dgfw-posts-select-post,
.dgfw-users-select-user {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 31%;
  margin: 1%;
  max-width: 180px;
  background: #ffffff;
  outline: 2px solid #e8e8e8;
  padding: 110px 5px 0;
  position: relative;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media screen and (min-width: 1024px) {
  .dgfw-posts-select-post,
  .dgfw-users-select-user {
    width: 18%;
    margin: 1%;
    max-width: 180px;
  }
}

.dgfw-posts-select-post .dgfw-posts-select-post-img,
.dgfw-posts-select-post .dgfw-users-select-user-img,
.dgfw-users-select-user .dgfw-posts-select-post-img,
.dgfw-users-select-user .dgfw-users-select-user-img {
  position: absolute;
  top: 10px;
  height: 100px;
  right: 10px;
  left: 10px;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.dgfw-posts-select-post .dgfw-posts-select-post-img:after,
.dgfw-posts-select-post .dgfw-users-select-user-img:after,
.dgfw-users-select-user .dgfw-posts-select-post-img:after,
.dgfw-users-select-user .dgfw-users-select-user-img:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  content: "\f147";
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  display: inline-block;
  height: 100%;
  font-size: 32px;
  line-height: 250%;
  font-family: dashicons;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.dgfw-posts-select-post .dgfw-posts-select-post-title,
.dgfw-posts-select-post .dgfw-users-select-user-name,
.dgfw-users-select-user .dgfw-posts-select-post-title,
.dgfw-users-select-user .dgfw-users-select-user-name {
  font-weight: normal;
  line-height: 1.5em;
  min-height: 3em;
}

.dgfw-posts-select-post.selected,
.dgfw-users-select-user.selected {
  outline: 3px dotted #d8d8d8;
  background: white;
}

.dgfw-posts-select-post.selected .dgfw-posts-select-post-img:after,
.dgfw-posts-select-post.selected .dgfw-users-select-user-img:after,
.dgfw-users-select-user.selected .dgfw-posts-select-post-img:after,
.dgfw-users-select-user.selected .dgfw-users-select-user-img:after {
  opacity: 1;
  font-size: 73px;
  line-height: 120%;
  background: rgba(0, 0, 0, 0.6);
}

.dgfw-posts-select-post.selected .dgfw-posts-select-post-title,
.dgfw-posts-select-post.selected .dgfw-users-select-user-name,
.dgfw-users-select-user.selected .dgfw-posts-select-post-title,
.dgfw-users-select-user.selected .dgfw-users-select-user-name {
  font-weight: bold;
}

.dgfw-select-posts,
.dgfw-select-users {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s, opacity 0.15s;
  transition: all 0.35s, opacity 0.15s;
  opacity: 1;
  z-index: 1;
}

.dgfw-select-posts > .dgfw-select-posts-container-page,
.dgfw-select-posts > .dgfw-select-users-container-page,
.dgfw-select-users > .dgfw-select-posts-container-page,
.dgfw-select-users > .dgfw-select-users-container-page {
  position: absolute;
  left: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.25s, opacity 0.15s;
  transition: all 0.25s, opacity 0.15s;
  z-index: 0;
}

.dgfw-select-posts-nav,
.dgfw-select-users-nav {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1em;
  line-height: 32px;
}

.dgfw-select-posts-nav-status,
.dgfw-select-users-nav-status {
  margin: 0 2em;
}

.dgfw-select-posts-nav-status-number,
.dgfw-select-users-nav-status-number {
  font-weight: bold;
}

.dgfw-selected-posts,
.dgfw-selected-users,
.dgfw-advanced-posts {
  text-align: center;
  overflow: hidden;
  position: relative;
  height: auto;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.dgfw-selected-posts.invisible,
.dgfw-selected-users.invisible,
.dgfw-advanced-posts.invisible {
  height: 0;
}

.dgfw-posts-selected-post,
.dgfw-users-selected-user,
.dgfw-posts-advanced-post {
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px 10px 60px;
  margin: 0 1em 1em 0;
  height: 50px;
  width: auto;
  background: white;
  outline: 1px solid #e8e8e8;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.dgfw-posts-selected-post.invisible,
.dgfw-users-selected-user.invisible,
.dgfw-posts-advanced-post.invisible {
  opacity: 0;
  top: 100%;
  height: 0;
  padding: 0;
  margin: 0;
}

.dgfw-posts-selected-post .dgfw-posts-select-post-title,
.dgfw-posts-selected-post .dgfw-users-select-user-name,
.dgfw-users-selected-user .dgfw-posts-select-post-title,
.dgfw-users-selected-user .dgfw-users-select-user-name,
.dgfw-posts-advanced-post .dgfw-posts-select-post-title,
.dgfw-posts-advanced-post .dgfw-users-select-user-name {
  margin: 0;
  font-weight: normal;
  line-height: 30px;
}

.dgfw-posts-selected-post .dgfw-posts-select-post-img,
.dgfw-posts-selected-post .dgfw-users-select-user-img,
.dgfw-users-selected-user .dgfw-posts-select-post-img,
.dgfw-users-selected-user .dgfw-users-select-user-img,
.dgfw-posts-advanced-post .dgfw-posts-select-post-img,
.dgfw-posts-advanced-post .dgfw-users-select-user-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
}

.dgfw-posts-selected-post .dgfw-posts-selected-remove,
.dgfw-posts-selected-post .dgfw-users-selected-remove,
.dgfw-users-selected-user .dgfw-posts-selected-remove,
.dgfw-users-selected-user .dgfw-users-selected-remove,
.dgfw-posts-advanced-post .dgfw-posts-selected-remove,
.dgfw-posts-advanced-post .dgfw-users-selected-remove {
  position: absolute;
  top: 15px;
  right: 3px;
  cursor: pointer;
  color: red;
}

.dgfw-posts-advanced-post {
  display: block;
  width: 50%;
  height: 50px;
  margin: 0 auto 1em;
  text-align: left;
}

.dgfw-posts-advanced-post .dgfw-posts-select-post-title,
.dgfw-posts-advanced-post .dgfw-posts-advanced-min-items {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}

.dgfw-posts-advanced-post .dgfw-posts-select-post-title {
  max-width: calc(100% - 5em);
  max-height: 30px;
  overflow: hidden;
}

.dgfw-posts-advanced-post .dgfw-posts-advanced-min-items {
  text-align: right;
}

.dgfw-posts-advanced-post .dgfw-posts-advanced-min-items {
  width: 4em !important;
  float: right;
  margin: 0 !important;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  line-height: 20px;
}

.dgfw-posts-advanced-post .dgfw-posts-select-post-img {
  height: 50px;
}

.dgfw-posts-advanced-post .dgfw-posts-selected-remove {
  top: 15px;
}

.dgfw-terms-advanced-term {
  width: 90%;
  padding-left: 10px;
  height: auto;
}

.dgfw-terms-advanced-term .dgfw-posts-select-post-title {
  width: 40%;
  margin-right: 0;
  vertical-align: top;
  font-weight: bold;
}

.dgfw-terms-advanced-term .dgfw-terms-advanced-options {
  display: inline-block;
  width: 60%;
  text-align: right;
}

.dgfw-terms-advanced-term .dgfw-terms-advanced-min-amount,
.dgfw-terms-advanced-term .dgfw-terms-advanced-min-items {
  display: inline-block;
  width: auto;
  min-width: 220px;
}

.dgfw-terms-advanced-term .dgfw-terms-advanced-min-amount .dgfw-label,
.dgfw-terms-advanced-term .dgfw-terms-advanced-min-items .dgfw-label {
  padding-right: 0;
}

.dgfw-checkbox-group-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.dgfw-checkbox-group-wrapper .dgfw-roles-select,
.dgfw-checkbox-group-wrapper .dgfw-terms-select {
  margin-bottom: 1px;
  padding: 10px;
  background: white;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.dgfw-checkbox-group-wrapper .dgfw-roles-select-checkbox,
.dgfw-checkbox-group-wrapper .dgfw-terms-select-checkbox {
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.dgfw-criteria-period-container {
  text-align: center;
}

.dgfw-criteria-period-container label {
  display: inline-block;
  margin: 0 0.5em;
}

.dgfw-criteria-period-container .dgfw-label-date {
  min-width: 80px;
  text-align: right;
}

.dgfw-criteria-remove {
  position: absolute;
  top: 1em;
  right: 1em;
  border: none;
  background: none;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  line-height: 32px;
  overflow: hidden;
  cursor: pointer;
  color: #999999;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-size: 18px;
}

.dgfw-criteria-remove:before {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}

.dgfw-criteria-remove:hover {
  color: red;
}

#edittag {
  max-width: none !important;
}

/*----------  Criteria  ----------*/
#woocommerce-coupon-data ul.wc-tabs li.dgfw-gift-tab_options a:before, #woocommerce-product-data ul.wc-tabs li.dgfw-gift-tab_options a:before, .woocommerce ul.wc-tabs li a:before {
  font-family: dashicons;
  content: "\f312";
}

.dgfw-product-gift-categories {
  display: inline-block;
}

.dgfw-product-gift-categories .dgfw-product-gift-category-label {
  float: none;
  margin-left: 0;
}

.dgfw-product-gift-categories .dgfw-product-gift-category-label .checkbox {
  margin-right: 0.5em;
}

table.wp-list-table span.product-type.dgfw_gift:before {
  font-family: dashicons;
  content: "\f312";
}

.dgfw-order-item-note {
  color: #888;
}

.show_if_has_giftable_variations_only {
  display: none;
}

/*# sourceMappingURL=admin.css.map */
