@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.dgfw-available-gifts {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1em;
  padding: 1em;
  background: #f8f8f8;
}

.dgfw-available-gifts button.slick-arrow {
  position: absolute;
  top: 30%;
  left: 0;
  width: 2em;
  height: 2em;
  padding: 0;
  margin: 0;
  border-radius: 2em;
  overflow: hidden;
  z-index: 10;
}

.dgfw-available-gifts button.slick-arrow:before {
  content: "«";
  font-weight: bold;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}

.dgfw-available-gifts button.slick-next {
  right: 0;
  left: auto;
}

.dgfw-available-gifts button.slick-next:before {
  content: "»";
}

.dgfw-available-gifts .slick-dots {
  list-style-type: none;
  text-align: center;
  margin: 0.5em 0;
  padding: 0;
}

.dgfw-available-gifts .slick-dots > li {
  list-style-type: none;
  display: inline-block;
}

.dgfw-available-gifts .slick-dots > li > button {
  display: inline-block;
  overflow: hidden;
  width: 10px;
  height: 10px;
  padding: 0 0 0 10px;
  margin: 0 3px;
  border-radius: 10px;
}

.dgfw-available-gifts .slick-dots > li:not(.slick-active) > button {
  background: rgba(0, 0, 0, 0.3);
}

[dir="rtl"] .dgfw-available-gifts button.slick-arrow {
  right: 0;
}

[dir="rtl"] .dgfw-available-gifts button.slick-next {
  left: 0;
  right: auto;
}

[dir="rtl"] .dgfw-available-gifts .slick-dots > li > button {
  padding: 0 10px 0 0;
  margin: 0 3px;
}

.dgfw-gift {
  display: inline-block;
  width: 75%;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media screen and (min-width: 480px) {
  .dgfw-gift {
    width: 45%;
  }
}

@media screen and (min-width: 600px) {
  .dgfw-gift {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .dgfw-gift {
    width: 23%;
  }
}

.slick-slider .dgfw-gift,
.no-slick-needed .dgfw-gift {
  opacity: 1;
}

.dgfw-gift .dgfw-add-gift-button,
.dgfw-gift .dgfw-select-gift-button {
  max-width: 100%;
  word-break: break-word;
  white-space: normal !important;
}

.dgfw-gift-link {
  display: block;
  text-align: center;
}

.dgfw-gift-link .dgfw-gift-thumbnail {
  width: 100%;
  text-align: center;
}

.dgfw-gift-link .dgfw-gift-thumbnail img {
  float: none;
  display: inline-block;
  margin: 0;
}

.dgfw-gift-link .product-name {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.dgfw-available-gifts-title {
  text-align: center;
}

.dgfw-product-giftable-variations {
  clear: both;
  margin-top: 30px;
  text-align: left;
}

.dgfw-product-giftable-variations:after {
  content: '';
  display: block;
  clear: both;
}

.dgfw-product-giftable-variations .images {
  width: 41.1764705882%;
  float: left;
  margin-bottom: 3.631em;
  opacity: 1 !important;
}

.dgfw-product-giftable-variations .summary {
  width: 52.9411764706%;
  float: right;
  margin-right: 0;
}

.woocommerce div.product div.cart .variations {
  margin-bottom: 1em;
  border: 0;
  width: 100%;
}

.woocommerce div.product div.cart .variations .label {
  color: inherit;
}

.woocommerce div.product div.cart .variations select {
  max-width: 100%;
  min-width: 75%;
  display: inline-block;
  margin-right: 1em;
}

.woocommerce div.product div.cart .variations tr {
  background: none;
}

.woocommerce div.product div.cart table,
.woocommerce div.product div.cart tr,
.woocommerce div.product div.cart td {
  border-width: 0;
}

/*# sourceMappingURL=public.css.map */
